BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BreakBeforeBraces: Allman
